.layout {
  min-height: 100vh !important;
  background-color: white !important;

  &--header {
    color: black;
    border-bottom: 1px solid #d4d4d4;

    &__stick {
      position: sticky;
      top: 0;
      z-index: 1000;
    }
  }

  &--content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    background-color: white;
  }

  &--footer {
    border-top: 1px solid #cdcdcd;
    background: white !important;
  }
}

.navigation {
  display: flex;

  &--user-wrapper {
    margin: 0 0 0 auto;

    .ant-space-item {
      color: white;
    }

    a {
      color: white;
      padding: 3px;
    }
  }

  &--view-wrapper {
    margin: 0;
    list-style: none;
    display: flex;
  }
}